h1 {
  font-family: 'Anton', sans-serif;
  color:  #414239;
  font-size: 4em;
}

h2 {
  font-family: 'Lobster', cursive;
  color: #9e0947;
  font-size: 2.5em;
}

p {
  font-family: Verdana, Geneva, sans-serif;
}

section.col-12 {
  border: 1px dotted #d7d8cb;
  border-bottom: 2px solid #000000;
  padding: 5px;
}

.pelicula > div{
  margin: 1%;
}

div.col-4 > *{
  justify-content: flex-start;
}

.pelicula h3 {
   color: #ce105c;
   font-size: 1em;
}

li {
  list-style-image: url(http://web-toolkit.global.sky.com/2.2.13-rc-v1/_site/static/font-svgs/carousel-play.svg);
}

#principal {  
  font-weight: bold;
}

#secundario {
  font-style: italic;
}

.imagenmoovie {
  width: 100%;
}

.imagenmoovie:hover {
  opacity: 0.8;
}

