/*Box Sizing*/
* {
    box-sizing: border-box;
}

/*Todas las imágenes se ajustan al contenedor*/
img {
  max-width: 100%;
  height: auto;
}


/*Box Model*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Flotantes*/
[class*="col-"] {
    float: left;    
}

/*MEDIA QUERY*/
@media only screen and (max-width : 480px) {
  [class*="col-"] {
    width: 100% !important;
  }

  article.col-12 {
    width: 48% !important;
  }

  header {
      margin-left: 0%;
  }

  h1 {
    font-size: 2em !important;
    text-align: center;
  }

  article > div > p {
    display: none;
  }

  section {
    margin-left: 0%;
  }

  article {
    background-color: #e0e0e0;
  }


  article:hover {
    background-color: #c0dbea;
    cursor: pointer;
  }

  article div a {
    font-size: 1.7em;
  }

  article > div > h2 {
      font-size: 1.5em;
      text-align: center;
  }

  article > div > h4 {
    font-size: 1em;
    text-align: right;
    margin-top: -0.5em;
    margin-right: 0.5em;
  }

  footer {
    font-size: .8em;
    font-style: italic;
  }

  article div.cat-desc {
    height: auto;
  }

  article div.idreceta {
    border: none;
  }
}