#titulo-sitio {
  color: #d39a0a;
  font-size: 4em;
  text-shadow: 3px 3px #bc8609;
}

a {
  font-variant: small-caps;
  color: #db990a;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: #edc163;
}

a:active {
  color: #7c652e;
}

article.col-2 {
  border: 1px solid gray;
  padding: 5px;
  margin-top: 1%;
  margin-right: 1%;
  width: 22%;
  background-color: #F5F5DC;
}

article audio {
  width: 100%;
}

.idreceta {  
  padding: 5px;
  height: 150px;
  border-bottom: 1px solid #000000;
}

.cat-desc {  
  height: 90px;
}


.idreceta:hover {
  opacity: 0.7;
}

.col-2 h4 {
  color: #d69f2a;
}

.imgplato {
  width: 100%;
  height: 100%;
}

.col-12 > article {
  display: inline-block;
  margin: 1%;
  border-radius: 1em;
}

section.col-12 {
  border-bottom: 1px solid #000000;
}


article.col-12 {
  border-bottom: 2px dotted #e0d2b1;
}

.col-9 p {
  padding: 5px;
  margin-left: 3%;
}

.col-3 {
  margin-top: 2%;
  height: 225px;
}
