/*Box Sizing*/
* {
    box-sizing: border-box;
}

/*Todas las imágenes se ajustan al contenedor*/
img {
  max-width: 100%;
  height: auto;
}


/*Box Model*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Flotantes*/
[class*="col-"] {
    float: left;    
}

/*MEDIA QUERY*/
@media only screen and (max-width : 480px) {
  [class*="col-"] {
    width: 50% !important;
    display: block;
  }

  .col-2 {
    width: 100% !important;
  }

  header.col-12 {
    width: 100% !important;
  }


  header {
      margin-left: 0%;
  }

  h1 {
    font-size: 2.5em !important;
    text-align: center;
  }

  section h2 {
    font-size: 1.5em !important;
  }

  .col-4, .col-3, header + section.col-12 .col-4 + .col-2 {
    display: none;
  }

  header + section.col-12 {
    width: 100% !important;
  }

  header + section.col-12 .col-4{
    display: block;
    font-size: 0.7em;
  }

  header + section.col-12 .col-2{
    width: 46% !important;
  }

  section {
    margin-left: 0%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    font-size: 0.7em;
    list-style-image: none;
    margin-right: 2px;
  }

  section.col-12 {
    max-height: 500px !important;
  }

}


/*MEDIA QUERY*/
@media only screen and (max-width : 720px) and (min-width: 481px) {
  [class*="col-"] {
    width: 50% !important;
  }


  header.col-12 {
    width: 100% !important;
    background-color: rgb(100,100,120);    
  }

  .col-2 {
    width: 100% !important;
  }


  header {
      margin-left: 0%;
  }

  h1 {
    font-size: 2.5em !important;
    text-align: center;
  }

  section h2 {
    font-size: 1.5em !important;
  }

  .col-4, div:first-child{
    display: none;
  }


  section {
    margin-left: 0%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    font-size: 0.7em;
    list-style-image: none;
    margin-right: 2px;
  }

  section.col-12 {
    max-height: 500px !important;
  }

  frame {
    width: 100%;
  }
}