*{
	font-family: "Arial";
}

h1{
	text-align: center;
}
.bloque{ 
	padding: 5px;    
	margin: 10px auto 10px;
	width: 60%;
	border: 1pt solid #cbccc1;
	border-radius: 15px;
	display: inline-block
}

div#caja-datosPersonales > h2{
	text-align: center;
	margin: 5px;
}
.escuela{
	display: inline-block;
	margin: 0 2px;
	vertical-align: top;
}

#foto{
	width: 80px;
	margin-right: 10px;
}

h2, h3{
	margin: 5px;
}

div[id|=caja]{
	border-width: 1pt;
	border-style: solid;
	border-color: #cbccc1;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
	padding: 5px;
}

div#caja-principal img {
	display: block;
	float: left;
	padding-right: 10px;
	vertical-align: middle;
  
}

div p {
	line-height: 25px;
	margin: 0px;
	margin-left: 25px;
}

div.institucion{
	position: relative;
	height: 160px;
}

div.institucion  div{
	position: absolute;
	top: 0px;
	left: 100px;
}

time{
	font-style: italic;
}

div#caja-habilidadesTecnicas{
	height: 100px;
}

div#habilidad{
	width: 100px;
	border-radius: 70px;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 120px;
	background: #cecece;
	font-weight: bold;
	box-shadow: 2px 2px 7px grey;
	float: left;
	display: inline-block;
}

div#habilidad span{ 
	color: white;
	border-radius: 70px;
	background: #241872;
	padding: 10px;
}

@media only screen and (max-width:550px){
	h2#nombre{
		background-color: #ffffff;
		opacity: 0.5;
		font-size: 20px;
		text-align: center;
		position: relative;
		bottom: -160px;
		z-index: 1;     /* trae al frente */
	}

	h2{
		text-align: center;
	}

	h3{
		text-align: center;
		font-size: 1.4em;
		margin: 1px;
	}

	.bloque{
		width: 80% !important;
		height:100%;
		border-radius: 10px;
		background-color: beige!important;
		

	}

	.bloque > .institucion{
		width: 100%;
		
	}

	.personal{
		display: none; 
	}

	
	p{
		display: inline!important;
		margin: 4px;
		font-size:1em;
	}

	.escuela,.foto{
		display: inline!important;
		

	}

	.institucion > .escuela{ 
		padding: 2px!important;
		margin-left: 1px!important;
		font-size: 0.6em;
		text-align: justify;
	}

	.institucion{
		width: 40%!important;
		margin: 5px!important;
		border-style: !important;
		display: inline-block;
		vertical-align: center;
		padding: 5px!important;
		
	}

	



	

	#fotobox{
		margin: 4px 2px !important;
		width: auto!important;
	}

	#foto{
		margin: 30px 20% 2px!important;
		width: 60%!important;
		height: 100%!important;
	}

	#caja-principal{
		height: 280px!important;
		margin-top: 20px!important;
	}

	.pdatos{
		text-align: center!important;
	}
	#datos-carrera{
		position: relative;
		top: -100px;
	}
	p#udatos{
		display: none;
	}

	#habilidad{
		margin: 3%!important;
		
	}

	#habilidades-ver{
		padding: 0;
		margin: 0;
	}
	
	#cabecera{
		display:none
	}
	

}